.header-container{
  height:600px;
}
.h1-sizing{
  font-size:80px;
  font-family: 'Times New Roman', Times, serif;
}
.margin-button{
  margin-bottom: 250px;
}
.input-size{
  padding: 10px;
}
.color-change{
  background-color: #FFFFFF;
}
.button-class{
  border: none;
  padding: 12px 25px;
  background-color:#8B755A;
  color: white;
}
.button-class:hover{
  border: 2px solid #8B755A;
  background-color: white;
  color:#8B755A;
}
.font-change{
  font-family: 'Times New Roman', Times, serif;
}
.section-color{
  background-color:white;
}
.header-tex{
  font-weight: 400 !important;
  font-size: 20px !important;
  color: black !important;
  font-family: 'Times New Roman', Times, serif !important;
}
.shanG{
  font-size:39px;
  font-weight:500;
  font-family: 'Times New Roman', Times, serif !important;
}
.home-container{
  background-color:#ebd8c5;
}
.img-res-fluid{
  width: 90px;
  height:90px;
  border-radius:80px;
}
.review-color{
  background-color:#f5f0ec;
}
.review-p{
  font-family: 'Times New Roman', Times, serif;
}
.d-flex-res{
  display: flex;
  flex-wrap: wrap;
  justify-content:center
}
.reservation-text{
  font-family: 'Times New Roman', Times, serif;
}
.reserv-section{
  background-color:#F6F6F6;
}

